# --- Плагины и менеджеры пакетов ---
# Мы не коммитим сами плагины, так как Lazy.nvim скачает их сам по init.lua
/lazy-lock.json
/lua/plugins/installed_plugins/

# --- Данные и кэш ---
# Здесь NeoVim хранит историю команд, сессии и скачанные LSP-серверы
.netrwhist
undo/
backup/
swap/
*.swp

# --- Логи ---
# Если что-то упадет, логи будут тут, но в репозитории они не нужны
*.log

# --- Системные файлы ---
.DS_Store
Thumbs.db
